body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linkssection {

  margin-left: 5%;

}

.btn {
  width: 90%;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 30px;
  border-style: none;

}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.icons {
  margin-left: 43%;
}

.github {
  margin-left: 40px;
}

.avatar {
  width: 10%;
  height: 5%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;

}

.name {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;

}

.logoimage {
  height: 40px;
  margin-top: 15px;
}

.footer {
  border-top: 1px solid lightgray;
  width: 85%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
}

.footer:hover {
  cursor: pointer;
}

.footer p {
  color: gray;
  padding-top: 10px;
}

.share {
  height: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: 30%;
  display: block;
}

.share:hover {
  cursor: pointer;
}

@media (max-width:480px) {
  .icons {
    margin-left: 33%;
  }

  .footer {
    border-top: 1px solid lightgray;
    width: 85%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
  }

  .logoimage {
    height: 40px;
    width: 200px;
    margin-top: 15px;
  }
}